<p id="notice"><%= notice %></p>

<h1>Empties</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empties.each do |empty| %>
      <tr>
        <td><%= link_to 'Show', empty %></td>
        <td><%= link_to 'Edit', edit_empty_path(empty) %></td>
        <td><%= link_to 'Destroy', empty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Empty', new_empty_path %>
